body, h1, h2, p, a, img {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul, li {
    list-style: none;
}


header {
    background-image: url('pics/ocean_bg.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    color: #3106ee;
    padding: 25px 0;
}

nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.nav-links li {
    margin-right: 80px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 36px;
}

.nav-links a:hover {
    color: #1100ad;
    border-bottom: 2px solid #1100ad;
}

/* Style the container */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Style the project table */
.project-table {
    width: 100%;
    border-collapse: collapse;
}

/* Style each row in the project table */
.project-table tr {
    border-bottom: 1px solid #ccc;
}

/* Style the left column (project images) */
.project-image {
    width: 30%;
    padding: 40px;
    vertical-align: top;
}

.project-image img {
    max-width: 100%;
    height: auto;
}

/* Style the right column (project details) */
.project-details {
    width: 70%;
    padding: 10px;
}

.project-details h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.project-details p {
    font-size: 14px;
    margin-bottom: 10px;
}

.project-details a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

.project-details a:hover {
    text-decoration: none;
    color: #5900ff;
    font-weight: bold;
    font-size: 16px;
}

