body{
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: url('pics/bgpic.jpg');
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header {
    background-color: black;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 25px 0;
}
/* Style navigation bar*/
nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.nav-links li {
    margin-right: 80px;
}

.nav-links a {
    color: #15ff00;
    text-decoration: none;
    font-size: 36px;
}

.nav-links a:hover {
    color: #fffb00;
}

/* Style the main content section */
.about-me {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #323b3b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.profile-image img {
    max-width: 75%;
    height: auto;
    border-radius: 30%;
    margin-right: 20px;
}

.description {
    flex: 1;
}

.description h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #15ff00;
    text-align: center;
}

.description p {
    font-size: 16px;
    line-height: 1.6;
}

/*Portfolio Elements*/
/* Style the container */
.project_cont{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color:  #323b3b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

/* Style the project table */
.project-table {
    width: 100%;
    border-collapse: collapse;
    background-color:  #323b3b;
}

/* Style each row in the project table */
.project-table tr {
    border-bottom: 1px solid #323b3b;
}

/* Style the left column (project images) */
.project-image {
    width: 30%;
    padding: 40px;
    vertical-align: top;
}

.project-image img {
    max-width: 100%;
    height: auto;
    
}

/* Style the right column (project details) */
.project-details {
    width: 70%;
    padding: 10px;
    background-color:  #323b3b;
}

.project-details h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #15ff00;
}

.project-details p {
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.project-details a {
    text-decoration: none;
    color: #009600;
    font-size: 16px;
    
}

.project-details a:hover {
    text-decoration: none;
    color: #eeff00;
    font-weight: bold;
    font-size: 16px;
}

/*Qualification Elements */

/* Style the PDF container */
.pdf-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Center the iframe */
}

/* Style the iframe */
iframe {
    width: 100%;
    max-width: 100%;
    height: 600px; /* Adjust the height as needed */
    border: none; /* Remove the iframe border */
}

/* Style the text container */
.text-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #323b3b;;
}

.text-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #15ff00;
}

.text-container p {
    font-size: 16px;
    line-height: 1.6;
}

/* Service Page*/

/* Style the table container */
.table-container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the service table */
.service-table {
    width: 100%;
    border-collapse: collapse;
}

/* Style each row in the service table */
.service-table tr {
    border-bottom: 1px solid #ccc;
}

/* Style the service cells */
.service-cell {
    padding: 20px;
    text-align: center;
    background-color: #323b3b;
}

.service-cell img {
    max-width: 100%;
    height: auto;
}

.service-cell h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color:#15ff00;
}

.service-cell p {
    font-size: 14px;
    margin-bottom: 10px;
}

.service-cell a {
    text-decoration: none;
    color: #009600;
    font-weight: bold;
    font-size: 16px;
}

.service-cell a:hover {
    text-decoration: none;
    color: #fffb00;
    font-weight: bold;
    font-size: 16px;
}

/* AI Page Style*/

.intro {
    text-align: center;
    padding: 50px;
}
.intro img {
    border-radius: 50%;
    max-width: 200px;
    margin-bottom: 20px;
}

/* Hobby section styles*/
.hobby {
    padding: 50px;
    text-align: center;
}
.hobby h2 {
    font-size: 24px;
    margin-bottom: 20px;
    
}
.hobby p {
    text-align: center;
}

.hobby img {
    height: 250px;
    margin: 0 auto;
}

/* Footer styles */
footer {
    text-align: center;
    color: white;
    background-color: #01050e;
    padding: 20px;
}
.contact-info p {
    margin: 0;
}

/*Toggle Style Button*/
.style_button button{
    background-color: #2e3038;  
    color: #09ff00;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease;
}

.style_button button:hover {
    background-color: #001486;
    color: #ffffff;
}

